// ============================================================================================= //
//                                           VARIABLES                                           //
// ============================================================================================= //

@use "sass:map";

// ------------------------------------------------------------------------- //
// Screen sizes
// ------------------------------------------------------------------------- //

$defaults: (
    "xs": 320px,
    "sm": 480px,
    "md": 768px,
    "lg": 960px,
    "xl": 1200px,
    "2xl": 1400px
);

$tokens: ();
$clean-sweep: false !default;
$screens: () !default;

@if not $clean-sweep {
    $tokens: map.merge($defaults, $screens);
} @else {
    $tokens: $screens;
}

$screens: $tokens;
