// ============================================================================================= //
//                                           VARIABLES                                           //
// ============================================================================================= //

@use "sass:map";

$_defaults: (
    "xs": 320px,
    "sm": 480px,
    "md": 768px,
    "lg": 960px,
    "xl": 1200px,
    "2xl": 1400px
);

$screens: () !default;
$extend: map.merge($_defaults, $screens);
