// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../index" as breakpoint;

@include describe("breakpoint.get-value()") {
    @include it("Should return value from token.") {
        @include assert {
            @include output(false) {
                .test {
                    width: breakpoint.get-value(lg);
                }
            }

            @include expect(false) {
                .test {
                    width: 960px;
                }
            }
        }
    }
}
