// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../index" as breakpoint;

@include describe("breakpoint") {
    @include describe("mixins") {
        @include describe("up()") {
            @include it("Should return breakpoint 'up' rules.") {
                @include assert {
                    @include output(false) {
                        .test {
                            @include breakpoint.up("lg") {
                                color: darkcyan;
                            }
                        }
                    }

                    @include expect(false) {
                        @media (min-width: 960px) {
                            .test {
                                color: darkcyan;
                            }
                        }
                    }
                }
            }
        }

        @include describe("down()") {
            @include it("Should return breakpoint 'down' rules.") {
                @include assert {
                    @include output(false) {
                        .test {
                            @include breakpoint.down("lg") {
                                color: darkcyan;
                            }
                        }
                    }

                    @include expect(false) {
                        @media (max-width: 959px) {
                            .test {
                                color: darkcyan;
                            }
                        }
                    }
                }
            }
        }

        @include describe("only()") {
            @include it("Should return breakpoint 'only' rules.") {
                @include assert {
                    @include output(false) {
                        .test {
                            @include breakpoint.only("lg") {
                                color: darkcyan;
                            }
                        }
                    }

                    @include expect(false) {
                        @media (min-width: 960px) and (max-width: 1199px) {
                            .test {
                                color: darkcyan;
                            }
                        }
                    }
                }
            }
        }

        @include describe("between()") {
            @include it("Should return breakpoint 'between' rules.") {
                @include assert {
                    @include output(false) {
                        .test {
                            @include breakpoint.between("md", "xl") {
                                color: darkcyan;
                            }
                        }
                    }

                    @include expect(false) {
                        @media (min-width: 768px) and (max-width: 1199px) {
                            .test {
                                color: darkcyan;
                            }
                        }
                    }
                }
            }
        }

        @include describe("config()") {
            @include it("Should return breakpoint 'config' rules.") {
                @include assert {
                    @include output(false) {
                        @include breakpoint.config((
                            "3xl": 1980px
                        ));

                        .test {
                            @include breakpoint.up("3xl") {
                                color: darkcyan;
                            }
                        }
                    }

                    @include expect(false) {
                        @media (min-width: 1980px) {
                            .test {
                                color: darkcyan;
                            }
                        }
                    }
                }
            }

            @include it("Should return breakpoint 'config' rules with '$reset' option.") {
                @include assert {
                    @include output(false) {
                        @include breakpoint.config((
                            "tablet": 768px
                        ), true);

                        .test {
                            @include breakpoint.up("tablet") {
                                color: darkcyan;
                            }
                        }
                    }

                    @include expect(false) {
                        @media (min-width: 768px) {
                            .test {
                                color: darkcyan;
                            }
                        }
                    }
                }
            }
        }
    }
}
