// ============================================================================================= //
//                                           FUNCTIONS                                           //
// ============================================================================================= //

@use "sass:list";
@use "sass:map";
@use "./variables";

///
/// Get value.
///
/// @access public
///
@function get-value($token) {
    @return map.get(variables.$extend, $token);
}

///
/// Get next token.
///
/// @access public
///
@function get-next($value) {
    $keys: map.keys(variables.$extend);
    $n: list.index($keys, $value);

    @return if(sass($n < list.length($keys)): list.nth($keys, $n + 1); else: null);
}

///
/// Get screens list.
///
/// @param {arglist} $exclude - Exclude value.
///
/// @access public
///
@function get-screens($exclude...) {
    @return map.remove(variables.$extend, $exclude...);
}

///
/// Set min.
///
/// @access private
///
@function set-min($token) {
    $min: get-value($token);

    @return if(sass($min != 0): $min; else: null);
}

///
/// Set max.
///
/// @access private
///
@function set-max($token) {
    $max: get-value($token);

    @return if(sass($max and $max > 0): $max - 1; else: null);
}
